#body {
    background-color: rgb(218,218,218);
    opacity: 0;
}

.main {
    top: 36%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

#myProgress {
    margin-top:7%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    width: 504px;
    height: 20px;

    background-color: #ddd;
    overflow: hidden;

    border: 3px solid rgb(44, 44, 44);
}
  
#myBar {
    margin-top:2px;
    margin-left:2px;

    width: 0%;
    max-width: 500px;
    height: 16px;

    background-color: rgb(209, 196, 5);
    transition: width 0.5s;
}

.ic {
    /*top: 37%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;*/
}

.ictxt {
    text-shadow: 4px 5px black;
    color: rgb(209, 180, 0);
    text-decoration: none;
    text-align: center;
    font-size: 86px;
    font-family: 'Minecraft', sans-serif;
    font-weight: 400;
}

.cr1 {
    font-family: 'Minecraft', sans-serif;
    font-weight: 400;
    color: rgb(15,15,15);
    font-size: 14px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 16%;
    position: absolute;
}